.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(104, 207, 159, 0.719);
  /*
  background: url(background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  */
  
}

.App-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  justify-content: space-around;
  font-size: calc(4px + 1vmin);
  color: #37d461;
}

.hero-container {
  align-items: center;
  width: 60%;
  color: black;
}

#hero-txt {
  font-size: 4vh;
  font-weight: bold;
}

.hero-right {
  /*  image or demo of app will go here OR examples of search params*/
}

#message {
  
}

.parameters {
  font-style: italic;
  font-weight: bold;
}

.btn-spotify {
  background-color:#37d461;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight: bold;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.btn-spotify:active {
  position:relative;
  top:1px;
}

footer {
  color: white;
  font-size: 10px;
  justify-self: end;
}